{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":144,"scrollleft":0,"selection":{"start":{"row":35,"column":0},"end":{"row":35,"column":17},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":8,"state":"start","mode":"ace/mode/text"}},"timestamp":1572981155527,"hash":"f282710c81ceea108107f4a2df64286e76cfecec"}