{% extends 'base.html' %}
{% block content %}
<div class="col-sm-10 offset-1">
    <h1>Check Out All The Bands</h1>
</div>
<div class="row">
    <div class="col-sm-10 offset-1">
        {% for band in bands %}
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <img src="{{ band.band_logo }}"></img>
                        <h5 class="card-title"><a href="{{ url_for('band', band_id=band._id) }}">{{ band.band_name }}</a></h5>
                        <p>Event details: {{ band.event_date}} @ {{ band.venue_name }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}