{% extends 'base.html' %}
{% block content %}
<!--most viewed -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 offset-1">
            <h1>Most Viewed</h1>
        </div>
        <div class="col-sm-10 offset-1">
            <div class="row">
                {% for viewed in most_viewed %}
                    {% if viewed.is_done == true %}
                        <div style=display:none></div>
                    {% else %}
                        <div class="col-sm-3">
                            <div class="card" style="width: 18em, height: 50px">
                                <img src="#" class="card-img-top" alt="band_logo">
                                <div class="card-body">
                                    <h5 class="card-title">{{ viewed.band_name }}</h5>
                                    <p class="card-text">
                                        Headlining: {% if viewed.is_headlining == true %}Yes{% else %}No{% endif %}</br>
                                        Time: {{ viewed.event_date.strftime('%d-%m-%Y @ %H:%M') }}</br>
                                        Views: {{ viewed.views }}</br>
                                    </p>
                                    <a href="{{ url_for('edit_band', band_id=viewed._id) }}" class="btn btn-primary">Edit Event <i class="fas fa-edit"></i></a>
                                    <a href="{{ url_for('get_venues') }}" class="btn btn-primary">View Venue <i class="fas fa-binoculars"></i></a>
                                    <form action="{{ url_for('complete_event', band_id=viewed._id)}}" method="POST">
                                        <button type="submit" class="btn btn-danger">Mark as Complete <i class="fas fa-trash-alt"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
    </div>

    <!--upcoming-->
    
    <div class="row">
        <div class="col-sm-10 offset-1">
            <h1>Upcoming Events</h1>
        </div>
        <div class="col-sm-10 offset-1">
        {% for band in recent_bands %}
        <div class="col-sm-3">
            <div class="card" style="width: 18em, height: 50px">
                <img src="#" class="card-img-top" alt="band_logo">
                <div class="card-body">
                    <h5 class="card-title">{{ band.band_name }}</h5>
                    <p class="card-text">
                        Headlining: {% if band.is_headlining == true %}Yes{% else %}No{% endif %}</br>
                        Time: {{ band.event_date.strftime('%d-%m-%Y @ %H:%M') }}</br>
                        Views: {{ band.views }}</br>
                    </p>
                    <a href="{{ url_for('edit_band', band_id=band._id) }}" class="btn btn-primary">Edit Event <i class="fas fa-edit"></i></a>
                    <a href="#" class="btn btn-primary">Venue: {{ band.venue_name }}</a>
                    <a href="{{ url_for('edit_band', band_id=band._id) }}" class="btn btn-danger">Mark as Complete <i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}