{% extends "base.html" %}

{% block body %}

    <h1>About Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, nam soluta autem, amet repellendus illo quae repudiandae qui illum ipsa et distinctio possimus dolore voluptatum, eaque recusandae natus deserunt explicabo.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, nam soluta autem, amet repellendus illo quae repudiandae qui illum ipsa et distinctio possimus dolore voluptatum, eaque recusandae natus deserunt explicabo.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, nam soluta autem, amet repellendus illo quae repudiandae qui illum ipsa et distinctio possimus dolore voluptatum, eaque recusandae natus deserunt explicabo.</p>

{% endblock %}