{% extends "base.html" %}

{% block body %}
<div class="col-md-12">
    <div class="content-section mt-4">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="mb-4">Create A Gig</legend>
                <div class="form-group">
                    {{ form.band_name.label(class="form-control-label") }}

                    {% if form.band_name.errors %}
                        {{ form.band_name(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.band_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.band_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.venue_name.label(class="form-control-label") }}

                    {% if form.venue_name.errors %}
                        {{ form.venue_name(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.venue_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.venue_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.event_date.label(class="form-control-label") }}

                    {% if form.event_date.errors %}
                        {{ form.event_date(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.event_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.event_date(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.is_headlining.label(class="form-control-label") }}

                    {% if form.is_headlining.errors %}
                        {{ form.is_headlining(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.is_headlining.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.is_headlining(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.band_logo.label(class="form-control-label") }}

                    {% if form.band_logo.errors %}
                        {{ form.band_logo(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.band_logo.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.band_logo(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-dark")}}
            </div>
        </form>
    </div>
</div>
{% endblock %}