{% extends "base.html" %}

{% block body %}
<div class="col-md-12">
    <div class="content">
        <a class="btn btn-dark ml-2" href="{{ url_for('create_venue') }}">Create Venue</a>
    </div>
</div>
    {% for venue in venues %}
        <div class="card w-auto p-3 m-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ venue.venue_name }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Address: {{ venue.address }}</li>
                <li class="list-group-item">Postcode: {{ venue.postcode }}</li>
                <li class="list-group-item">Website: <a class="btn btn-dark" target="_blank" href="{{ venue.website }}"><i class="fas fa-binoculars"></i></a></li>
            </ul>
            <a href="" class="btn btn-primary mb-1">Update</a>
            <a href="" class="btn btn-danger">Delete</a>
        </div>
    {% endfor %}
{% endblock %}