{% extends "base.html" %}

{% block body %}
    {% for venue in venues %}
        <div class="card w-auto p-3 m-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ venue.venue_name }}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Address: {{ venue.address }}</li>
                <li class="list-group-item">Postcode: {{ venue.postcode }}</li>
                <li class="list-group-item">Website: <a class="btn btn-light" target="_blank" href="{{ venue.website }}"><i class="fas fa-binoculars"></i></a></li>
            </ul>
        </div>
    {% endfor %}
{% endblock %}